
<div class='accordion'>
<!-- 	<label>Show inherited <a href='#{{id}}'>{{name}} from {{ancestor}}</a>.</label> -->
	<label><span class='expander'>▶</span> {{name}} inherited from {{{type ancestor}}}</label>
	<div class='accordion-content'>{{{inherited}}}</div>
</div>
